@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);

  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  caret-color: transparent !important;

}

#navbar {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

#logo {
  font-family: Arizonia;
}

#bgBase {
  background-image: url(./assets/bg_background.jpg);
  background-position: center center;
  background-size: 225%;
  background-blend-mode: hard-light;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  #bgBase {
    background-size: 375%;
  }
}

@media screen and (min-width: 1600px) {
  #bgBase {
    zoom: 95%;
  }
}
@media screen and (max-width: 1366px) {
  #bgBase {
    zoom: 80%;
  }
}

textarea {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  caret-color: rgb(219 39 119 / 0.75);
  resize: none;
  /*remove the resize handle on the bottom right*/
}
input {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  caret-color: rgb(219 39 119 / 0.75);
  resize: none;
}

#bgAnimaLog {
  background-image: url(./assets/bg_background.jpg);
  animation: 75s ease-in-out 0s bgSizeChanger forwards;
  background-repeat: no-repeat;
}

#bgAnimaLog2 {
  animation: 75s ease-in-out 0s bgSizeChanger forwards;
  background-repeat: no-repeat;
}

#bgAnimaLogBlend {
  background-image: url(./assets/bg_background.jpg);
  background-blend-mode: hard-light;
  animation: 75s ease-in-out 0s bgSizeChanger forwards;
  background-repeat: no-repeat;
}

#notifCard{
  animation-duration: 500ms;
  animation-name: opacityfadeCard;
}



@keyframes opacityfadeCard{
  from{
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes bgSizeChanger {
  from {
    background-size: 150%;
  }

  to {
    background-size: 400%;
  }
}



@media screen and (max-width: 480px) {
  html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/bg_background.jpg);
    animation: 40s ease-in-out 0s bgSizeChanger forwards;
    background-repeat: no-repeat;

  }


  @keyframes bgSizeChanger {
    from {
      background-size: 400%;
    }

    to {
      background-size: 700%;
    }
  }
}




* {
  scrollbar-width: thin;
  scrollbar-color: rgb(236, 72, 153, 0.15) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(236, 72, 153, 0.15);
  ;
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(236, 72, 153, 0.15);
  border-radius: 20px;
}


#borderMaker {

  border-image: linear-gradient(to right, rgb(219 39 119 / 0.75) 5%, transparent 90%) 100% 1;

}

#borderMaker2 {

  border-image: linear-gradient(to left, rgb(219 39 119 / 0.75) 5%, transparent 90%) 100% 1;

}

#spliter {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgb(219 39 119 / 0.75) 20%, transparent 110%) 100% 1;

}
#spliter2 {
  border-bottom: 2px solid;
  border-image: linear-gradient(to left, rgb(219 39 119 / 0.75) 20%, transparent 115%) 100% 1;

}

#notifCard {
  z-index: 500 !important;

}